<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvyX5LD___3uc9fkpSMoLV3Du55E9cBtA</string>
	<key>GCM_SENDER_ID</key>
	<string>443982695818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sonickart.app</string>
	<key>PROJECT_ID</key>
	<string>sonickart-app</string>
	<key>STORAGE_BUCKET</key>
	<string>sonickart-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443982695818:ios:12de8aefe01c4976728c73</string>
</dict>
</plist>
